<!-- <h1>Client#landing</h1>
<h6>Find me in app/views/client/landing.html.erb</h6> -->
<!-- <!doctype html> -->

<body>
    <header class="site-header">
        <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light py-3" aria-label="Main navigation">
                <a class="navbar-brand text-dark" href="index.html.erb ">
                    <%= image_tag("logo-boost.svg", :alt => "Boost Theme") %>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-lg"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-lg-center text-uppercase pt-3 pt-lg-0 ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="pages.html.erb">Pages</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="docs/index.html.erb">Documentation</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main id="main">
        <!-- Hero -->
        <section class="container">
            <div class="row justify-content-lg-between align-items-lg-center py-5">
                <div class="col-lg-6 text-center text-lg-left">
                    <h1 class="display-4 mb-4">Boost your digital presence</h1>
                    <p class="lead text-secondary mb-4">Build an awesome website with a clean and accessible Bootstrap theme.</p>
                    <a class="btn btn-primary btn-block rounded-pill d-md-inline-block w-auto mr-md-4 mb-4 mb-md-0" href="https://themes.getbootstrap.com/product/boost/">Buy now</a>
                    <a href="docs/index.html.erb" class="link-cta">Documentation</a>
                </div>
                <div class="col-lg-6">
                    <%= image_tag("revenue.svg", :alt => "Boost Theme", :class => "img-fluid d-none d-lg-block") %>
                </div>
            </div>
        </section>

        <div class="bg-skew bg-skew-light">

            <!-- Demo pages -->
            <section class="container">
                <h2 class="sr-only">Pages</h2>
                <div class="row py-5">
                    <div class="col-lg-6 mb-4">
                        <a href="app.html.erb" class="stretched-link">
                            <%= image_tag("app.png", :alt => "App Demo", :class => "img-fluid img-thumbnail img-thumbnail-hover mb-4") %>
                            <!-- <img src="assets/images/app.png" class="img-fluid img-thumbnail img-thumbnail-hover mb-4" alt="App demo"> -->
                            <h3 class="h5 text-center text-dark">App</h3>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <a href="course.html.erb" class="stretched-link">
                            <%= image_tag("course.png", :alt => "Course Demo", :class => "img-fluid img-thumbnail mb-4") %>
                            <!-- <img src="assets/images/course.png" class="img-fluid img-thumbnail mb-4" alt="Course demo"> -->
                            <h3 class="h5 text-center text-dark">Course</h3>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <a href="event.html.erb" class="stretched-link">
                            <%= image_tag("event.jpg", :alt => "Event Demo", :class => "img-fluid img-thumbnail mb-4") %>
                            <!-- <img src="assets/images/event.jpg" class="img-fluid img-thumbnail mb-4" alt="Event demo"> -->
                            <h3 class="h5 text-center text-dark">Event</h3>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <a href="saas.html.erb" class="stretched-link">
                            <%= image_tag("saas.png", :alt => "Saas Demo", :class => "img-fluid img-thumbnail mb-4") %>
                            <!-- <img src="assets/images/saas.png" class="img-fluid img-thumbnail mb-4" alt="Saas demo"> -->
                            <h3 class="h5 text-center text-dark">SaaS</h3>
                        </a>
                    </div>
                </div>
                <div class="text-center pb-5">
                    <a href="pages.html.erb" class="btn btn-primary rounded-pill">View all pages</a>
                </div>
            </section>
        </div><!-- end bg-skew -->

        <!-- Icon blocks -->
        <section class="container">
            <h2 class="sr-only">Features</h2>
            <div class="row py-4">
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fab fa-accessible-icon" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Accessible</h3>
                        <p class="mb-md-0">Built with accessibility in mind and following best practices.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fas fa-mobile-alt" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Mobile First</h3>
                        <p>Mobile-first flexbox grid to build layouts of all shapes and sizes.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fab fa-font-awesome-flag" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Font Awesome</h3>
                        <p>More than 1200 vector icons from the web's most popular icon set.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fab fa-sass" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Sass Files</h3>
                        <p>Easily customize your site modifying the source scss files.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fab fa-gulp" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Gulp</h3>
                        <p>Automated workflow for your development tasks.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                    <div class="pr-lg-3">
                        <span class="icon icon-primary mb-3">
                            <i class="icon-inner fas fa-code" aria-hidden="true"></i>
                        </span>
                        <h3 class="h4">Valid Code</h3>
                        <p class="mb-md-0">W3C valid code to ensure the site works properly on all browsers.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Features -->
        <section class="container">
            <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
                <div class="col-lg-5 mb-4 mb-lg-0">
                    <h2>Accessibility-ready</h2>
                    <hr class="sep border-primary ml-0 mb-3 text-left" role="presentation">
                    <p>Boost theme is navigable with keyboard, ready for screen readers and uses a high color contrast ratio.</p>
                    <a class="link-cta" href="docs/accessibility.html.erb">Read More <span class="sr-only">about accessibility</span></a>
                </div>
                <div class="col-lg-6">
                    <%= image_tag("audit.png", :alt => "Accessibility audit using the Lighthouse tool with a result of 100.", :class => "img-fluid img-thumbnail") %>
                    <!-- <img src="assets/images/audit.png" class="img-fluid img-thumbnail" alt="Accessibility audit using the Lighthouse tool with a result of 100."> -->
                </div>
            </div>
            <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
                <div class="col-lg-5 order-lg-2 mb-4 mb-lg-0">
                    <h2>Easy to customize</h2>
                    <hr class="sep border-primary ml-0 mb-3 text-left" role="presentation">
                    <p>The theme includes a workflow to customize it easily, or you can simply use the static files.</p>
                    <a class="link-cta" href="docs/index.html.erb">Read More <span class="sr-only">about the gulp workflow</span></a>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <%= image_tag("install.png", :alt => "Command line with workflow tasks.", :class => "img-fluid img-thumbnail") %>
                    <!-- <img src="assets/images/install.png" class="img-fluid img-thumbnail" alt="Command line with workflow tasks."> -->
                </div>
            </div>
        </section>

        <div class="bg-skew bg-skew-light">

            <!-- Accordion -->
            <section class="container">
                <h2 class="my-5 text-center">Questions</h2>
                <div class="row justify-content-lg-center pb-5">
                    <div class="col-lg-9">
                        <div class="accordion" id="accordionQuestions">

                            <div class="card mb-2 shadow">
                                <div class="card-header" id="headingOne">
                                    <h3 class="card-title">
                                        <a class="collapsed" role="button" href="#collapseTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Can I use this theme for my clients? <i class="fas fa-angle-down float-right rotate-icon" aria-hidden="true"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionQuestions">
                                    <div class="card-body">
                                        <p>Yes, the Bootstrap Themes license allows you to use the product for personal or for a client.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 shadow">
                                <div class="card-header" id="headingTwo">
                                    <h3 class="card-title">
                                        <a class="collapsed" role="button" href="#collapseOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            What methods of payments are supported? <i class="fas fa-angle-down float-right rotate-icon" aria-hidden="true"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionQuestions">
                                    <div class="card-body">
                                        <p >You can purchase the theme on Bootstrap Themes via any major credit/debit card (via Stripe) or with your Paypal account.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 shadow">
                                <div class="card-header" id="headingThree">
                                    <h3 class="card-title">
                                        <a class="collapsed" role="button" href="#collapseThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How do I get help with the theme? <i class="fas fa-angle-down float-right rotate-icon" aria-hidden="true"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionQuestions">
                                    <div class="card-body">
                                        <p>Support for the theme is given for 6 months after you purchase the theme and is specific to questions around functionality, bugs, and basic implementation.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <hr class="sep border-primary" role="presentation">

            <!-- Call to action -->
            <div class="container py-5">
                <div class="text-center">
                    <h2 class="mb-4">Are you ready to start?</h2>
                    <div class="mb-4">
                        <a class="btn btn-primary rounded-pill" href="https://themes.getbootstrap.com/product/boost/" role="button">Buy now</a>
                    </div>
                    <a class="link-cta" href="docs/index.html.erb">Documentation</a>
                </div>
            </div>

        </div><!-- end bg-skew -->
    </main>

    <footer class="site-footer mt-5">
        <div class="container">
            <div class="row justify-content-md-between">
                <div class="col-sm-12 col-md-4 mb-4">
                    <h2 class="h5 mb-3">Company</h2>
                    <p>Boost is a responsive website theme based on Bootstrap 4. We help you to create a site that your users will love.</p>
                </div>
                <div class="col-4 col-md-2 mb-4">
                    <h2 class="h5 mb-3">About</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="#">About</a></li>
                        <li class="mb-1"><a href="#">Team</a></li>
                        <li class="mb-1"><a href="#">Careers</a></li>
                        <li class="mb-1"><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-4">
                    <h2 class="h5 mb-3">Services</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="#">Design</a></li>
                        <li class="mb-1"><a href="#">Themes</a></li>
                        <li class="mb-1"><a href="#">Branding</a></li>
                        <li class="mb-1"><a href="#">CMS</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-4">
                    <h2 class="h5 mb-3">Help</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="#">FAQ</a></li>
                        <li class="mb-1"><a href="#">Contact</a></li>
                        <li class="mb-1"><a href="#">Phones</a></li>
                        <li class="mb-1"><a href="#">Chat</a></li>
                    </ul>
                </div>
            </div>

            <hr role="presentation">

            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center">
                <div class="text-muted mb-3">&copy; Made by <a href="https://11bits.es/" target="_blank" rel="noopener">11bits</a></div>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="#"><i class="icon-inner fab fa-facebook-f" aria-hidden="true"></i><span class="sr-only">Facebook</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
