<!DOCTYPE html>
<html>
  <head>
    <title>Devshop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="assets/javascripts/jquery.slim.min.js" defer></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Goole fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CMerriweather+Sans:300,400,700" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/stylesheets/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="assets/stylesheets/theme.css">

    <!-- JS -->
    <script src="assets/javascripts/popper.min.js" defer></script>
    <script src="assets/javascripts/bootstrap.min.js" defer></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
